@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.logo {
    height: 60px;
    width: 50px;
}

.nav-item {
    font-size: 20px;
}

.heading {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.more {
    background-color: #1a2137;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.main {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png");
    background-size: cover;
    height: 100vh;
}
.h_main {
    font-weight: bold;
    color: #1f2933;
    font-size: 30px;
}

.natural {
    font-weight: bold;
    color: #1f2933;
    font-style: italic;
}
.featuredesc {
    color: #7b8794;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 40px;
}

.featureHeading {
    color: #1f2933;
    font-size: 22px;
}

.featureImage {
    width: 64px;
    height: 64px;
}
.webkith_main {
    font-weight: bold;
    color: #1f2933;
    font-size: 30px;
}
.webkitImage {
    width: 120px;
    height: 150px;
}
.webkitdesc {
    color: #323f4b;
    font-size: 15px;
    font-weight: bold;
}
.opticsImage {
    width: 100%;
}
.opticsHeading {
    color: #1f2933;
    font-weight: bold;
}
.opticsDesc {
    color: #7b8794;
    font-size: 25px;
}
.read {
    background-color: #1a2137;
    color: #7b8794;
}
.contactBackground {
    background-color: #222b36;
    background-size: cover;
}

.contact {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.contact:hover,.buy:hover,.read:hover,.more:hover{
    color:yellow;
}
.contactusCon{
    background-color: #222b36;
}
.contactHeading {
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.about {
    background-color: white;
    border: 1px;
}

.blogHeading {
    font-weight: bold;
}

.heading1 {
    color: #959ead;
    font-size: 15px;
}

.p1 {
    color: #323f4b;
    font-size: 27px;
}

.link {
    font-weight: bold;
    color: #1754a1;
}

.blogView {
    background-color: #1754a1;
    color: white;
}
.productBackground1 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-img.png");
    background-size: cover;
    height: 100vh;
}

.productBackground2 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-with-controllers-img.png");
    background-size: cover;
    height: 100vh;
}

.buy {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}

.productHeading {
    color: white;
    padding-right: 30px;
}

.productPrice {
    color: white;
    font-size: 15px;
}

.productView {
    background-color: #1754a1;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}
.footerBackground {
    background-color: #19232d;
    background-size: cover;
}
.logo {
    height: 40px;
    width: 50px;
}
.hrline {
    background-color: #5a7184;
    height: 1px;
}
.footerHeading {
    font-size: 25px;
    color: #5a7184;
}
.icon {
    color: #959ead;
    border-radius: 90px;
    background-color: #5a7184;
    padding: 10px;
}
.footerPara {
    color: #5a7184;
    font-size: 18px;
    padding: 1px;
    margin: 5px;
}
.copyrightlink{
    color:#5a7184;
}
a.footerPara:hover {
    text-decoration: none;
    color:#f27822;
}
a.copyrightlink:hover{
    text-decoration: none;
    color:#f27822;
}